.food__container {
    display: none;

    position: absolute;
    inset: auto 0 0 auto;

    margin: 1em;
    padding: 1em;
    background-color: var(--light-color);
    border-radius: 10px;
}

.food {
    list-style-type: none; 
}

.food img {
    width: auto;
    height: 3em; 
}